# This new 'run' command tells Replit to start the web server correctly.
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8080"]

entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["bash", "cargo", "libiconv", "libxcrypt", "rustc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
